:root {
  --primary: #94f475;
}

// Resets and defaults
*,
::before,
::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote,
body,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
li,
ol,
p,
pre,
table,
ul {
  margin: 0;
  padding: 0;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

figure img {
  display: block;
}

// Typography
h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 4px;
}

h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 800;
}

b,
strong {
  font-weight: 600;
}

// Main

body {
  font-family: "Press Start 2P", monospace;
  position: relative;
  color: #84ee61;
  background-color: #000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.25rem;
}

.t-neon {
  text-shadow: 0 0 26.6112px var(--primary),
  0 0 15.2064px var(--primary),
  0 0 8.8704px var(--primary),
  0 0 4.4352px var(--primary),
  0 0 1.2672px var(--primary),
  0 0 0.6336px var(--primary);
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  z-index: 2;
  flex-grow: 2;
}

.c-header {
  z-index: 2;
  padding: 3em 1em;
  text-align: center;

  h1 {
    padding-top: 10px;
  }
}

input[type="text"] {
  all: unset;
}

input[type="text"] {
  font-family: "Press Start 2P", monospace;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 8px;
  background-color: #fff;

  &::placeholder {
    font-family: "Press Start 2P", monospace;
    color: var(--primary);
  }
}

button {
  font-family: inherit;
  padding: 1em;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);

  &:hover {
    cursor: pointer;
  }
}

.c-password {
  padding: 1em;

  input[type="text"] {
    position: relative;
    margin: 1em 0;

    &::after {
      display: block;
      width: 20px;
      height: 20px;
      content: "";
      border: 2px solid var(--primary);
      background-color: #fff;
    }
  }
}

.c-feedback {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  background-color: #fff;
}

.c-footer {
  font-size: 0.5rem;
  z-index: 2;
  padding: 1em;
  text-align: right;
}

#c {
  position: absolute;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  opacity: 0.7;
}

.is-hidden {
  display: none;
}

.is-wrong {
  input {
    color: red;
    border-color: red !important;
  }
}

.c-backstory {
  width: 100%;
  padding: 0 1em;

  p {
    margin-bottom: 1em;
  }
}