<div class="c-pwdclue">
  <p class="title">Võti:</p>
  <div class="c-cluebox">
    <p>{{password}}</p>
  </div>
</div>
<div class="c-password">
  <label for="pwd-1">Salasõna:</label>
  <input class="{{className}} pwd" type="text" id="pwd-1" placeholder="Teine võti">
  <!--div class="c-feedback"></div-->
  <button id="submit-1" class="submit-btn">Sisesta</button>
</div>
