<div class="c-password">
  <label for="pwd">Salasõna:</label>
  <input class="{{className}}" type="text" id="pwd" placeholder="vastus">
  <button id="submit">Sisesta</button>
</div>
<p>Story</p>
<p id="story">{{story}}</p>
<p>Vihje</p>
<p id="vihje">{{clue}}</p>