<div class="c-pwdclue">
  <p class="title">Võti:</p>
  <div class="c-cluebox">
    <p>{{password}}</p>
  </div>
</div>
<div class="c-password">
  <label for="pwd">Salasõna:</label>
  <input class="pwd" type="text" id="pwd" placeholder="Paralleelvõti" value="{{placeholder}}">
  <!--div class="c-feedback"></div-->
  <button id="{{btn_id}}" class="submit-btn">Sisesta</button>
</div>
