<!DOCTYPE html>
<html dir="ltr" lang="et">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>{{title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="/media/css/master.min.css" rel="stylesheet" type="text/css"/>
  <script async defer src="/media/scripts/matrix.js" type="module"></script>
</head>
<body>
<canvas id="c"></canvas>
{{>header}}
<main role="main">
  {{>password}}
  {{{body}}}
  <script src="{{script}}" type="module"></script>
</main>
{{>footer}}
</body>
</html>