<div class="c-backstory">
  <p>Esimesed katsed aga luhtusid, ja hävitasid piirivalveputka. Seega ehitati uus putka vaatega merele, et jälgida, et
    ükski subjekt ära ei põgeneks.</p>
  <p>Lisaks paigaldati põllule miine, et põgenejaid heidutada. Kuivõrd vanasti oli rand järelvalve eesmärgil riisutud,
    siis tänaseks on see tava kadunud ja mööda randa kõndimine kõige ohutum viis liiklemiseks.</p>
  <p>Lisaks on ka muud tavad humaansemaks muutunud ja kunagised hullusärgid on nüüdseks päästevestidega asendatud.</p>
</div>
<div class="c-navigation">
  <a href="/">
    <button class="c-back">Genees</button>
  </a>
</div>