<div class="c-backstory">
  <p>Esimesed aastad juhtis operatsiooni "Madam K", ent kui teadustöö pidurduma hakkas, loodi teised meeskonnad ja
    vahetused veel.</p>
  <p>Kuna ka viimased aastad pole märkimisväärseid tulemusi andnud, siis lisati see aasta veel üks vahetus juurde ning
    muudeti ka teadurite koosseise.</p>
  <p>Tänu muudatustele avastas "Dr TK" see aasta, et on lapsi kellele element Eta ei mõju nii, nagu teistele...</p>
  <p>Põhjus on aga salajane, sest see on aken anomaalias, läbi mille on võimalik pääseda elemendi mõju alt.</p>
</div>
<div class="c-navigation">
  <a href="/">
    <button class="c-back">Genees</button>
  </a>
  <a href="/YWxwaGE=">
    <button class="c-back">Esimene peatükk</button>
  </a>
</div>