<div class="c-backstory">
  <p>Dr TK avastas, et õed ja vennad on anomaaliast vähem mõjutatud siis, kui nad koos on.</p>
  <p>See teadmine aga lekkis laagrist välja ja salaselts "Teine Võimalus" pani paika plaani, kuidas lapsed
    evakueerida.</p>
  <ul>
    <li><p>Vennad Kraavid hoolitsevad selle eest, et päästeparv oleks töökorras.</p></li>
    <li><p>Vennad Tammed hoolitsevad selle eest, et autod parkida saaks.</p></li>
    <li><p>Õed Sarapuud aga veenduvad selles, et anomaalia läbi kasvuhoone paneelide läbi ei pääseks.</p></li>
  </ul>
  <p>Valguse kasutamine on keelatud, et vältida, et vahimehed põllul põgenemisplaani märkaks.</p>
  <p>Ülejäänud lapsed aga hoolitsevad selle eest, et kogu laager kokku koguneks. Lisaks on vaja kokku koguda kõik
    telefonid suurlaeva, et tekitada piisavalt võimas signaal, et see anomaaliast läbi murraks.</p>
  <p>Kui kõik telefonid on kokku kogutud, siis naasevad Kraavid, Tammed ja Sarapuud samuti suurlaeva ja käivitub
    päästeoperatsioon.</p>
</div>
<div class="c-navigation">
  <a href="/bs/2">
    <button class="c-back">Tagasi</button>
  </a>
  <a href="/">
    <button class="c-back">Genees</button>
  </a>
  <a href="/final">
    <button class="c-back">Lõpp</button>
  </a>
</div>