<div class="c-finalpwd">
  <p>Lõpp-parool ({{half}}):</p>
  <div class="c-fpf">
    <p>{{password}}</p>
  </div>
  <p>Suurlaevast saate järgmised juhised!</p>
</div>
<div class="c-navigation">
  <a href="/">
    <button class="c-back">Genees</button>
  </a>
  <a id="back-btn" href="/t{{team_id}}/1">
    <button class="c-back">Vihjed</button>
  </a>
  <a id="front-btn" href="/final">
    <button class="c-back">Lõpp</button>
  </a>
</div>
<script src="/media/scripts/matrix.js" type="module"></script>