<div class="c-finalpwd">
  <p>Lõpp-parool ({{half}}):</p>
  <div class="c-fpf">
    <p>{{password}}</p>
  </div>
  <p>Suurlaevast saate järgmised juhised!</p>
</div>
<script src="/media/scripts/matrix.js" type="module"></script>