<div class="c-backstory">
  <p>Teadlased said haisu ninna laste plaanist laagrist põgeneda. Seega röövisid nad ära laste telefonid.</p>
  <p>Selleks aga, et telefonid üles leida, märgistasid teadlased kaardi telefonide asukohaga.</p>
</div>
<div class="c-final">
  <label for="pwd">Kaardi parool:</label>
  <input type="text" placeholder="Lõpp-parool" id="pwd">
  <button id="btn" class="submit-btn">Sisesta</button>
</div>
<script src="/media/scripts/final.js" type="module"></script>