<div class="c-backstory">
  <p>Aastal 1998 avastasid Ämari ja Paldiski kaitseväepataljonid Laokülast anomaalia mateerias.</p>
  <p>Pärast esialgseid uuringuid leiti, et anomaalia võimaldab muljuda reaalsust ja ajataju, seda eriti laste seas.</p>
  <p>Lastelaagri ettekäändel rajati aastal 1999 Laokülla teaduskeksus, et uurida anomaalia mõjusid laste psüühikale.</p>
  <p>Esimesed uurimisseadmed rajati vanasse piirivalveputkasse, mis oli lastelaagrist veidi eemal. See tagas selle, et
    ootamatute külastuste käigus ei märgataks laagri tegelikku eesmärki.</p>
</div>
<!--div class="c-backstory">
  <p>Kosmos on suurem, tähed, parmud, blablablba</p>
  <p>Teaduse kiirendamiseks loodi uus vahetus juurde. Vahetusid ka meeskonnad.</p>
  <p>Mingu lipuga lehvitama, et helikopter neid märkaks. Valgust ei tohi kasutada. Peavad naasma kui helikopter pole
    tagasi tulnud.</p>
  <p>Õed ja vennad lähevad andma signaali põgnemiseks, tuleb üles äratada lapsed.</p>


  <p>Lõpus telefonid on läinud</p>

  <p>Uuringud on näidanud, et kahele lapsele mõjud ei toiminud, ja nad on vaja likvideerida.</p>
  <p>Võimalik põhjus on sugulussidemetes kahe lapse vahel.</p>
  <p></p>
</div-->
<!--p></p>
<p>Kuna lapsed olid eriti mõjutatud anomaaliast, siis rajati lastelaagri ettekäändel Laokülla uurimiskeskus. Loodi ka
  riiulettevõte MTÜ Noorte
  Mereklubi.</p>

<p>Anomaaliat põhjustab "element Eta"</p-->